# Let people access eg '/posterViewer/?poster=mr', as a shortcut skipping
# the 'viewer.html' in /posterViewer/viewer.html?poster=mr
# because we've said viewer.html is a default document.

DirectoryIndex viewer.html index.html

# Get rid of viewer.html, redirect to just /?poster=mr part
# that we made work above. Need to do this in a somewhat
# unusual way since we're in a per-directory .htaccess context

RewriteEngine on
RewriteCond %{REQUEST_URI} ^(.*/)viewer.html
RewriteRule .* %1 [R,L]


# Turn on SSI, that viewer.html uses for including partial html
# doc with facebook opengraph tags suitable for the poster

<Files viewer.html>
  Options +Includes
  SetOutputFilter INCLUDES
  # SSI will never send a HTTP 304 in response to conditional GET, alas.
  # SSILastModified and SSIEtag don't really help, I think it's
  # a bug in apache nobody cares about.
  # We still set 6 month caching headers, but browser can't do
  # a conditional GET anymore, oh well.
</Files>

############################
#
# CACHING

# Default mayfirst.org apache conf was leading to files being cached by browsers
# for long time. Not sure how long. We want to control cache headers ourself. 

ExpiresActive On

# mod_deflate is insisting on Vary: User-Agent, which I think is
# wrong and redbot.org suggests against. Let's just:
Header set Vary Accept-Encoding


# consider .dzi application/xml, because it is, and then
# our expires directive will also effect it
AddType application/xml .dzi

# Source code, including .xml, cache for just a bit. 6 hours?
ExpiresByType text/html "access plus 6 hours"
ExpiresByType text/css "access plus 6 hours"
ExpiresByType text/javascript "access plus 6 hours"
ExpiresByType application/javascript "access plus 6 hours"
ExpiresByType application/xml "access plus 6 hours"

# For jpgs, which includes tile sources, we want to cache em
# a long time. forever? okay let's. We could try
# to separate out tiles specifically with filesmatch, but we're not.
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/png "access plus 1 year"

# Openseadragon.js is placed by us in a URL with OpenSeadragon version in it,
# so we can have it cached forever.
<FilesMatch "^openseadragon(\.min)?\.js(\.map)?$">
  # Can't override our expiresbytype, try manually
  #ExpiresActive On
  #ExpiresDefault "access plus 1 year"

  Header unset Expires
  Header set Cache-control max-age=31536000

</FilesMatch>

# For fonts, cache forever
<FilesMatch "\.(woff|eot|ttf|svg)$">
  ExpiresActive On
  ExpiresDefault "access plus 1 year"
</FilesMatch>











